<% provide(:title, 'Home') %>
<html>
    <!DOCTYPE html>
    <head>
      <title>Little League Team Manager | <%= yield(:title) %></title>
    </head>
    <body>
    <h1>Little League Team Manager | </h1>
    <p>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
    </body>
</html>
