<div class="center hero-unit">
  <h1>Team Manager App</h1>

  <h2>
    This is the home page for the Team Manager application.
  </h2>

  <%= link_to "Add a Player!", signup_path, class: 'btn btn-large btn-primary' %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

