<footer class="footer">
  <small>
    <a href="/">Team Manager</a> by Joey Parshley
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_us_path %></li>
      <li><%= link_to "News", 'http://news.railstutorial.org' %></li>
    </ul>
  </nav>
</footer>